.btn {
    border: 2px solid #4A0D37;
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.input {
    border-color: #4A0D37;
    border-width:2px;
    background-color: white;
    padding: 5px 10px;
    width: 110px;
    border-radius: 5px 0 0 5px;
}

.appart_container button:nth-child(2) {
    border-width: 2px 0 1px 0;
}

.appart_container button:last-child {
    border-radius: 0 5px 5px 0 !important;
    border-width: 2px;
}

.appart_container {
    display: flex;
    margin: 15px 0;
}