.body{
    height: "32px";
    background: "rgba(74, 13, 55, 1)";
    margin: "16px"
}




.logo img{
width: 262px;
height: 95px;
left: 24px;
top: 18px;

/* background: url(logo2 (1).png);
    height: 65px;
    width: 230px;
    margin: 10px 0 0 10px; */
}

.userSection{
    left: 6.35%;
    right: 43.39%;
    top: 16.89%;
    bottom: 75.39%;
}
