.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4A0D37;
    padding: 20px 45px;
}
.logout_Btn{
    display: 'flex';
    align-items: 'center' 
}

.logout_heading{
    margin-right: 10px
}