.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4A0D37;
    padding: 30px 70px;
}

.header h2 {
    font-weight: 600;
    font-size: 27px;
}

.headerText {
    font-weight: 500;
    font-size: 18px;
}

.logoutBtn {
    margin-right: -7px;
    font-weight: 600;
    font-size: 20px;
    margin-top: -8px;
}
.mobile_header{
    background-color: #FFFFFF;
    width: 100%;
}
.mb_header_container{
    padding: 20px;
    display: flex;
    background-color: #FFFFFF;
}