@import '~bootstrap/dist/css/bootstrap.css';
.body {
    color: #4A0D37;
    padding: 20px 100px;
    margin-top: 15px;
}

.edit-body{
    color: #4A0D37;
    padding: 15px 100px;
    margin-top: 15px;
}

.body h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    margin-top: 42px;
}

.form_input {
    margin: 20px 0 !important;
    border: 1px solid #4A0D37;
    padding: 8px;
}

.login_form_input {
    margin: 10px 0 !important;
    border: 1px solid #4A0D37;
    padding: 8px;
}

.radio_btn {
    background: #F8F8FF !important;
    border: 1px solid #6A164F !important;
    border-radius: 500px !important;
    color: #4A0D37 !important;
    margin-right: 10px;
    margin-top: 10px;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-radio-button-wrapper:not(:first-child)::before,
:where(.css-dev-only-do-not-override-12jzuas).ant-radio-button-wrapper:not(:first-child):hover{
    background-color: #f5f5f5;
}
.form_radio_inputs .ant-radio-button-wrapper-checked {
    background: #4A0D37 !important;
    border: 1px solid #6A164F !important;
    border-radius: 500px !important;
    color: #F8F8FF !important;
    margin-right: 10px;
    margin-top: 10px;
}

.form_label {
    font-weight: 600;
}

.form_radio_inputs {
    margin-right: 10px;
    color: #6A164F !important;
}

.radio-form-btn {
    border: 1px solid #6A164F;
}

.uploadbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px
}

.uploadbtn p {
    margin-right: 10px;
}

.addform_btn {
    margin-top: 45px;
}

.appart_form_counter_group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}
.appart_form_counter_group1{
    display: flex;
    flex-direction: row;
}
.btn_grp_container {
    width: 320px;
}

.visitor-body{
    color: #4A0D37;
    padding: 10px 100px;
    margin-top: 15px;
}

.visitor_form_input {
    /* margin: 5px 0 !important; */
    border: 1px solid #4A0D37;
    padding: 8px;
}
.mb_form_heading{
    display: none;
}
.form_select{
    margin-top: 12px !important;
}
@media screen and (max-width: 700px) {
    .mb_form_heading{
        display: block;
        padding: 25px 50px;
    }
    .visitor-body{
        padding: 10px 50px;
    }
    .visitor_form_input{
        width: 35vh;
    }
    .body{
        padding: 10px 50px;
    }
    .edit-body{
        padding: 10px 50px;

    }
}
.apartment_form_input {
    /* margin: 5px 0 !important; */
    border: 1px solid #4A0D37;
    padding: 8px;
}