.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4A0D37;
    padding: 20px 100px;
}

.header h2 {
    font-weight: 600;
    font-size: 34px;
}

.headerText {
    font-weight: 300;
    font-size: 20px;
}

.logoutBtn {
    margin-right: 10px;
    font-weight: 400;
    font-size: 20px;
}

.body {
    color: #4A0D37;
    padding: 20px 100px;

}

.body h2 {
    font-weight: 400;
    font-size: 31px;
    line-height: 42px;
}

.form_input {
    margin: 20px 0 !important;
    border: 1px solid #4A0D37;
    padding: 8px;
}