.body {
    color: #4A0D37;
    padding: 20px 100px;

}

.body h2 {
    font-weight: 400;
    font-size: 31px;
    line-height: 42px;
}

.form_input {
    margin: 20px 0 !important;
    border: 1px solid #4A0D37;
    padding: 8px;
}